.about-project{
    margin-top: 33px;
}

.about-project__text{
    max-width: 1240px;
}

.about-project__title{
    font-family: Jost;
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    color: #09301D;    
    margin: 0;
    margin-bottom: 24px;
}

.about-project__parag{
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
    &:not(:last-child){
        margin-bottom: 24px;
    }      
}

.about-project__img{
    width: 100%;
    position: relative;
}

.about-project__img-list{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 32px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    cursor: grab;
}

.about-project__img-catalog{
    min-width: 850px;
    height: 600px;
}

.about-project__ellipse-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 1500px;
    margin-left: -30px;
    height: 80px;
    background-color: white;
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100% ;
    z-index: 2;
}

.about-project__ellipse-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1500px;
    margin-left: -30px;
    height: 80px;
    background-color: white;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
    z-index: 2;
}

.active {
    scroll-snap-type: unset;
}

.about-project__img-item{
    width: 850px;
    height: 600px;
    margin-right: 120px;
    z-index: 1;
    scroll-snap-align: center;
    &:last-child{
        margin-right: 0;
    }
}

@media only screen and (max-width: 450px) {
    .about-project__parag:last-child{
        display: none;
    }
    .about-project__title{
        font-size: 32px;
        line-height: 38px;
    }
    
}