.booking-hero{
    height: 100vh;
    background-color: #09301D;
    margin-top: -132px;
}

.booking-hero__content{
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
}

.booking-hero__wrap{
    display: flex;
    align-items: start;
    justify-content: center;
}

.booking-hero__img{
    width: 800px;
    height: 400px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 32px;
}

.booking-hero__title{
    font-family: Jost;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 32px;
}

.booking-hero__box{
    width: 200px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
}