.hero{
    margin-top: -132px;
}

.hero__container{
    background-color:#09301D;
    background-image: url('../../img/hero_back.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content{
    margin-top: 213px;
    margin-bottom: 269px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hero__title{
    margin: 0;
    margin-bottom: 33px;
}

.hero__img-savr-avenue{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.hero__img-savr{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.hero__img-avenue{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.hero__img-a{
    margin-right: -50px;
}

.hero-img{
    transition: 0.3s;
    &:hover{
        margin-top: -65px;
        transform: scale(1, 1.4);
    }
}

.hero__mini-img{
    display: none;
}

.hero__link-wrap{
    padding: 11px 24px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: 0.3s;
    cursor: pointer;

    &:hover{
        background-color: #09301D;
        .hero__link{
            color: #FFFFFF;
        }
        .hero__arrow-black{
            filter: invert(100%);
            margin-left: 24px;
        }

        .hero__arrow-white{
            margin: 0;
        }

    }
}

.hero__link{
    font-weight: 600;
    font-family: 'Jost', serif;
    font-size: 16px;
    line-height: 24px;
    color: #09301D;
    text-decoration: none;
}

.hero__arrow{
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.hero__arrow-white{
    filter: invert(100%);
    margin-left: -24px;
    transition: 0.3s;
}

.hero__arrow-black{
    transition: 0.3s;
}
  
  .hero__img-savr-avenue .hero-img {
    animation-name: wiggleWiggle;
    animation-duration: 1.25s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-iteration-count: 1;
  }

    #s{
        animation-delay: 0s;
    }

    #a_1{
        animation-delay: 0.05s;
    }

    #v_1{
        animation-delay: 0.10s;
    }

    #r{
        animation-delay: 0.15s;
    }

    #a_2{
        animation-delay: 0.20s;
    }

    #v_2{
        animation-delay: 0.25s;
    }

    #e_1{
        animation-delay: 0.30s;
    }

    #n{
        animation-delay: 0.35s;
    }

    #u{
        animation-delay: 0.40s;
    }

    #e_2{
        animation-delay: 0.45s;
    }
  @keyframes wiggleWiggle {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.05, 1.05);
    }
    100% {
        transform: scale(1, 1);
    }
    // from{
    //     transform: scale(1, 1);
        
    // }

    // to{
    //     // margin-bottom: 65px;
    //     transform: scale(1, 1.4);
    // }
  }

@media only screen and (max-width: 820px){
    .hero__content{
        margin-top: 200px;
        margin-bottom: 50px;
    }

    .hero__img-savr-avenue{
        flex-direction: column;
        justify-content: center;
    }
    .hero__mini-img{
        display: block;
    }
    .hero__img-savr-avenue{
        display: none;
    }
}

@media only screen and (max-width: 400px){
    .hero__content{
        margin-top: 180px;
        margin-bottom: 50px;
    }

    .hero__link-wrap{
        display: none;
    }
}