.planing{
    margin-top: 33px;
}

.planing__title{
    font-family: Jost;
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    color: #09301D;
    margin: 0;
    margin-bottom: 24px;
}

.planing__types-list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.planing__types-item{
    position: relative;
    margin: 0;
    border: 1px solid #09301D4D;
    padding: 25px 24px;
    &:hover{
        outline: 2px solid #09301DCC;   
        .two-room{
            height: 100%;
        }
        .three-room{
            width: -100px;
        } 
    }
}

.planing__types-text{
    font-family: Jost;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: #09301D;    
    margin: 0;
}

.two-room{
    transition: 0.5s ease;
    position: absolute;
    bottom: 0;
    left: 40%;
    display: block;
    width: 2px;
    height: 0;
    background-color: #09301D33;
}

.planing__cards-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth; 
}

.planing__cards-item{
    min-width: 280px;
    background-color: #ADADAD1A;
    border-radius: 12px;
    padding: 50px;
    &:not(:last-child){
        margin-right: 40px;
    }
    &:first-child{
        margin-left: 30px;
    }
}

.planing__img{
    transition: 0.5s ease;
    &:hover{
        transform: scale(1.1);
    }
}

.planing__info-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.planing__info-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.planing__info-text{
    font-family: Jost;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #181818;
    margin: 0;
}

.planing__info-parag{
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #181818B2;     
    margin: 0;   
}

.planing__cards{
    position: relative;
}

.planing__btns{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-50%);
    margin-left: -20px;
    margin-right: -20px;
}

.planing__btn{
    border: none;
    border-radius: 50%;
    padding: 24px;
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 3px 12px 3px #0000000D;
    &:disabled{
        opacity: 0.5;
        cursor: default;
    }
}

@media only screen and (max-width: 820px) {
    .planing__title{
        font-size: 32px;
        line-height: 38px;
    }

    .planing__types-list{
        flex-direction: column;
        
    }

    .planing__types-item{
        width: 100%;
    }
    .planing__types-text{
        width: 100%;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .planing__btn{
        width: 60px;
        height: 60px;
        padding: 0;
    }   
}

@media only screen and (max-width: 450px) {
    .planing__title{
        font-size: 24px;
        line-height: 29px;
    }
}